html{
    height: 100%;
}
body{
    margin: 0px;
    padding: 0px;
    height: 100%;
}
ul,li{
    padding: 0px;
    margin: 0px;
}
.toubu{
    background-color: #F37D0F;
}
.toubu .container-fluid{
    text-align: center;
    padding: 0px;
}
.toubu .container-fluid img{
    float: right;
    margin-top: 27px;
    overflow: hidden;
    margin-right: 3px;
    
}
.toubu .container-fluid input{
    width: 85%;
    padding-left: 2px;
    margin-top: 30px;
}
/*主要内容*/
/*2.1*/

main{
    margin-top: 61px;
    border-top: 1px solid white;
}
main .hengtiao{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 1px solid white;
}
main li{
     list-style: none;
}
main .hengtiao>li{
    margin-right: 20px;
    /*border-bottom: 1px solid #FE7E21;*/
}
main .hengtiao li>a{
    text-decoration: none;
}
main .hongmi{
    width: 100%;
    border-top: 2px solid #F5F5F5;
    border-bottom: 2px solid #F5F5F5;
}


main div h2{
    text-align: center;
    font-size: 1.5rem;
    margin-top: 20px;
}
main ul{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;

}
.zhuti ul li{
    width: 30%;
    text-align: center;
    margin: 10px 0px;
}
.zhuti ul li img{
    width: 100%;
}
.zhuti{
    margin-bottom: 50px;
}
/*底部*/
footer .container-fluid{
    height: 100%;
}
footer li{
    width: 25%;
    height: 80%;
    list-style: none;
    /*float: left;*/
    text-align: center;
    
}
footer ul{
    display: flex;
    justify-content: space-around;
    /*align-items: center;*/
}
footer ul i{
    display: inline-block;
    width: 18px;
    height: 18px;
    background-image: url(image/mimall/spr1.png);
    background-size: 100%;
}
footer ul .one{
    
    background-position: 0px -126px;
}
footer ul .two{
    
    background-position: 0px 0px;
}
footer ul .three{
    
    background-position: 0px -54px;
}
footer ul .four{
    
    background-position: 0px -91px;
}